In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import pandas_profiling

In [2]:
from acquire import get_data
from prep import prep_data

# Get the raw data from .csv or MySQL query
raw = get_data()

# Remove nulls
df = prep_data(raw)

Data read from ./zillow.csv

In [3]:
# sns.pairplot(data=df, corner=True)

In [4]:
# df.profile_report(style={'full_width':True})

In [5]:
fips = pd.read_csv("fips.csv")
fips.columns = ["fips", "county", "state"]
fips.head()

   fips   county state
0  1001  Autauga    AL
1  1003  Baldwin    AL
2  1005  Barbour    AL
3  1007     Bibb    AL
4  1009   Blount    AL

In [6]:
df.fips = df.fips.astype(int)

In [8]:
df.head()

   bathrooms  bedrooms    sqft  taxvalue  fips
0        2.0       3.0  1458.0  136104.0  6037
1        1.0       2.0  1421.0   35606.0  6037
2        3.0       4.0  2541.0  880456.0  6059
3        2.0       3.0  1650.0  614000.0  6037
4        1.0       2.0   693.0  274237.0  6037

In [9]:
df.join(fips, how="inner")

ValueError: columns overlap but no suffix specified: Index(['fips'], dtype='object')